<div class="form-card">
    <h2>Nouveau SnapFace</h2>
    <form [formGroup]="snapForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" formControlName="title" >
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" id="description" formControlName="description" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">URL de l'image</label>
        <input type="text" id="imageUrl" formControlName="imageUrl" >
      </div>
      <div class="form-group">
        <label for="location">Lieu</label>
        <input type="text" id="location" formControlName="location" >
      </div>
      <div class="action-buttons">
        <button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid" >envoyer</button>
      </div>
    </form>
  </div>
  <div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap" >
    <h2>{{ faceSnap.title | titlecase}}</h2>
    <p>Mise en ligne {{faceSnap.createdDate | date: 'à HH:mm, le dd MMMM yyyy ' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <p *ngIf="faceSnap.location" >Photo prise à {{faceSnap.location}}</p>
  </div>
  